@import url("variables.css");

#indexHeader{
    height: 70vh;
    background-image: url("../assets/index/indexCover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom:50px;
}

#indexHeaderContent {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}


#indexHeaderText {
    width: max(60%, 600px);
    margin-right: 3vw;
}

#indexHeaderImage {
    max-width: 40%;
    width: auto;
    align-items: center;
    justify-content: center;
}

#indexImage {
    height: 55vh;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(250,250,250,0.4);
    transition: opacity 0.7s ease-in-out;
}

.fade-out {
    opacity: 0;
}

#indexHeader div h1 {
    font-family: 'Montserrat';
    font-size: min(100px,7vw);
    font-weight: 700;
    line-height: 90%;
    color: var(--light);
    margin: auto;
    margin-bottom:20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

#indexHeader div p {
    color: var(--light);
    font-size: 20px;
    margin:0;
    margin-bottom: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

#indexHeader div a {
    color: var(--light);
    font-size: 20px;
    font-weight: 600;
    margin:0;
    margin-bottom: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
